.hidden {
    display: none; 
}

body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    color: #ff4f8f;
    background-color: #f0f0f0; /* 기본 배경색 */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* 전체 높이 */
    position: relative; /* 배경 이미지 설정을 위한 상대 위치 */
}

h1, h2 {
    margin: 10px 0;
    text-align: center;
}

#clock {
    font-size: 4rem;
    color: #ff4f8f;
}

#todo-form {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="text"] {
    padding: 10px;
    border: 2px solid #ff4f8f;
    border-radius: 5px;
    width: 250px;
    margin-bottom: 10px;
    font-size: 1rem;
    color: #ff4f8f; /* 기본 글씨 색상 */
    transition: border-color 0.3s, color 0.3s; /* 색상 변화에 애니메이션 추가 */
}

input[type="text"]:focus {
    border-color: #ff4f8f; /* 포커스 시 테두리 색상 */
    color: #ff4f8f; /* 포커스 시 글씨 색상 */
    outline: none; /* 기본 아웃라인 제거 */
}

input[type="submit"] {
    padding: 10px 20px;
    border: 2px solid #ff4f8f; /* 핑크색 테두리 추가 */
    border-radius: 5px;
    background-color: #ff4f8f;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #ff4f8f;
}

.ribbon-button {
    border: 2px solid #ff4f8f; /* 핑크색 테두리 */
    border-radius: 5px;
    background-color: white; /* 버튼 배경 투명 */
    color: #ff4f8f; /* 글씨 색상 */
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s; /* 애니메이션 추가 */
    margin-left: 5px
}

.ribbon-button:hover {
    background-color: #ff4f8f; /* 마우스 오버 시 배경색 변경 */
    color: white; /* 마우스 오버 시 글씨 색상 변경 */
}

ul {
    list-style-type: none;
    padding: 0;
    text-align: center; /* 리스트 가운데 정렬 */
}

#quote, #weather {
    margin-top: 20px;
    text-align: center;
    font-size: 1.2rem;
}




